<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTC 學習管理系統</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <script>  
        function navigate(x) {  
            window.location.href = x;
            // alert("You are Successfully "+x);  
        }
          
    </script>  
    <style>
        nav a {
            /* color: #d64161; */
            font-size: 2em;
            margin-left: 30px;
            /* text-decoration: none; */
        }

    </style>
</head>
<body>
    <nav>
        <a href="/autoflashcards/run/stats/voc/all">詞彙圖</a>
        <a href="/autoflashcards/run/stats/class">班級總覽</a>
        <form action="/autoflashcards/run/stats/search" method="post"> 
            <input type="text" name="name" placeholder="輸入班號或學號...">
            <button>搜尋</button>
          </form>
        <label for="學季">學季:</label>
        <select name="學季" onchange="navigate(this.options[this.selectedIndex].label);">
            <option value="{{term}}" selected>{{term}}</option>
            {% for t in terms %}
              <option value="{{t}}">{{t}}</option>
            {% endfor %}
          </select>
    </nav>
    <hr>
    <div>
        {% block voctable %} {% endblock %}
        {% block word %} {% endblock %}
    </div>
</body>
</html>