<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTC Data</title>
    <script type = "text/javascript">  
        function navigate(x) {  
            window.location.href = x;
            //    alert("You are Successfully "+x);  
        }  
    </script>  
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <a href="/autoflashcards/run/stats/voc/all">MTC Data</a>
        <select name="學期" onchange="navigate(this.options[this.selectedIndex].label);">
            <option value="{{term}}" selected>{{term}}</option>
            {% for t in terms %}
              <option value="{{t}}">{{t}}</option>
            {% endfor %}
          </select>
    </nav>
    <hr>
    <div>
        {% block voctable %} {% endblock %}
        {% block word %} {% endblock %}
    </div>
</body>
</html>